html {
	scroll-behavior: smooth;
}
  
html,
body,
.wrapper {
	min-height: 100%;
}

.hold-transition .content-wrapper,
.hold-transition .main-header,
.hold-transition .main-sidebar,
.hold-transition .main-sidebar *,
.hold-transition .main-footer {
	transition: none !important;
}


/*	Login Página	*/

.login-page{
	-ms-flex-align: center;
	align-items: center;
	background: #e9ecef;
	display: -ms-flexbox;
	display: flex;
	height: 100vh;
	-ms-flex-pack: center;
	justify-content: center;
}

.login-box {
	width: 360px;
}


@media (max-width: 576px) {
	.login-box {
		margin-top: 20px;
		width: 90%;
	}
}

.login-box-msg{
	margin: 0;
	padding: 0 20px 20px;
	text-align: center;
}

.login-logo {
	font-size: 2.1rem;
	font-weight: 300;
	margin-bottom: .9rem;
	text-align: center;
}
  
.login-logo a {
	color: #495057;
}

.login-card-body {
	background: #ffffff;
	border-top: 0;
	color: #666;
	padding: 20px;	
}
  
  .login-card-body .input-group .form-control {
	border-right: 0;
  }
  
  .login-card-body .input-group .form-control:focus {
	box-shadow: none;
  }
  
  .login-card-body .input-group .form-control:focus ~ .input-group-append .input-group-text {
	border-color: #80bdff;
  }
  
  .login-card-body .input-group .form-control.is-valid:focus {
	box-shadow: none;
  }
  
  .login-card-body .input-group .form-control.is-valid ~ .input-group-append .input-group-text {
	border-color: #28a745; 
  }
  
  .login-card-body .input-group .form-control.is-invalid:focus {
	box-shadow: none; 
  }
  
  .login-card-body .input-group .form-control.is-invalid ~ .input-group-append .input-group-text {
	border-color: #dc3545; 
  }
  
  .login-card-body .input-group .input-group-text {
	background-color: transparent;
	border-bottom-right-radius: 0.25rem;
	border-left: 0;
	border-top-right-radius: 0.25rem;
	color: #777;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}



/*	PAGINAS*/


.wrapper {
	position: relative;
}
  
.wrapper .content-wrapper {
	min-height: calc(100vh - calc(3.5rem + 1px) - calc(3.5rem + 1px));
}
  
  
  .layout-navbar-fixed .wrapper .main-sidebar:hover .brand-link {
	transition: width 0.3s ease-in-out;
	width: 250px;
  }
  
  .layout-navbar-fixed .wrapper .brand-link {
	overflow: hidden;
	position: fixed;
	top: 0;
	transition: width 0.3s ease-in-out;
	width: 250px;
	z-index: 1035;
  } 
 

  .layout-navbar-fixed .wrapper .sidebar-dark-primary .brand-link:not([class*="navbar"]) {
	background-color: #343a40;
  }
  
  /*
  .layout-navbar-fixed .wrapper .sidebar-light-primary .brand-link:not([class*="navbar"]) {
	background-color: #ffffff;
  }*/
  
  .layout-navbar-fixed .wrapper .sidebar-dark-primary .brand-link:not([class*="navbar"]) {
	background-color: #343a40;
  }
  
  /*
  .layout-navbar-fixed .wrapper .sidebar-light-primary .brand-link:not([class*="navbar"]) {
	background-color: #ffffff;
  }*/

    
  .layout-navbar-fixed .wrapper .content-wrapper {
	margin-top: calc(3.5rem + 1px);
  }

  
  .layout-navbar-fixed .wrapper .main-header {
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1033;
  }

  /*
   .layout-navbar-fixed .wrapper.sidebar-collapse .brand-link {
	height: calc(3.5rem + 1px);
	transition: width 0.3s ease-in-out;
	width: 4.6rem;
  }
  

  .layout-navbar-fixed .wrapper.sidebar-collapse .main-sidebar:hover .brand-link {
	transition: width 0.3s ease-in-out;
	width: 250px;
  }*/
  
  .layout-footer-fixed .wrapper .main-footer {
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	z-index: 1032;
  }
  
  .layout-footer-fixed .wrapper .main-footer {
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	z-index: 1032;
  }
  
  .layout-footer-fixed .wrapper .content-wrapper {
		/*margin-bottom: calc(3.5rem + 1px);*/
		margin-bottom: 0;
  }



@media (min-width: 768px) {
	body:not(.sidebar-mini-md) .content-wrapper,
	body:not(.sidebar-mini-md) .main-footer,
	body:not(.sidebar-mini-md) .main-header {
	  transition: margin-left 0.3s ease-in-out;
	  margin-left: 250px;
	}
  }
  
  @media (min-width: 768px) and (prefers-reduced-motion: reduce) {
	body:not(.sidebar-mini-md) .content-wrapper,
	body:not(.sidebar-mini-md) .main-footer,
	body:not(.sidebar-mini-md) .main-header {
	  transition: none;
	}
  }
  
  @media (min-width: 768px) {	  
	.sidebar-collapse body:not(.sidebar-mini-md) .content-wrapper, .sidebar-collapse
	body:not(.sidebar-mini-md) .main-footer, .sidebar-collapse
	body:not(.sidebar-mini-md) .main-header {
	  margin-left: 0;
	}
  }
  
  @media (max-width: 991.98px) {
	body:not(.sidebar-mini-md) .content-wrapper, body:not(.sidebar-mini-md) .content-wrapper::before,
	body:not(.sidebar-mini-md) .main-footer,
	body:not(.sidebar-mini-md) .main-footer::before,
	body:not(.sidebar-mini-md) .main-header,
	body:not(.sidebar-mini-md) .main-header::before {
	  margin-left: 0;
	}
  }
  
  @media (min-width: 768px) {
	.sidebar-mini-md .content-wrapper,
	.sidebar-mini-md .main-footer,
	.sidebar-mini-md .main-header {
	  transition: margin-left 0.3s ease-in-out;
	  margin-left: 250px;
	}
  }
  
  @media (min-width: 768px) and (prefers-reduced-motion: reduce) {
	.sidebar-mini-md .content-wrapper,
	.sidebar-mini-md .main-footer,
	.sidebar-mini-md .main-header {
	  transition: none;
	}
  }
  
  @media (min-width: 768px) {	  
	.sidebar-collapse .sidebar-mini-md .content-wrapper, .sidebar-collapse
	.sidebar-mini-md .main-footer, .sidebar-collapse
	.sidebar-mini-md .main-header {
	  margin-left: 4.6rem;
	}
  }
  
  @media (max-width: 991.98px) {
	.sidebar-mini-md .content-wrapper, .sidebar-mini-md .content-wrapper::before,
	.sidebar-mini-md .main-footer,
	.sidebar-mini-md .main-footer::before,
	.sidebar-mini-md .main-header,
	.sidebar-mini-md .main-header::before {
	  margin-left: 4.6rem;
	}
  }

  @media (min-width: 992px) {
	.sidebar-mini .nav-sidebar,
	.sidebar-mini .nav-sidebar > .nav-header,
	.sidebar-mini .nav-sidebar .nav-link {
	  white-space: nowrap;
	  overflow: hidden;
	}

	
	.sidebar-mini.sidebar-collapse .d-hidden-mini {
	  display: none;
	}
	.sidebar-mini.sidebar-collapse .content-wrapper,
	.sidebar-mini.sidebar-collapse .main-footer,
	.sidebar-mini.sidebar-collapse .main-header {
	  margin-left: 4.6rem !important;
	}
	.sidebar-mini.sidebar-collapse .nav-sidebar .nav-header {
	  display: none;
	}
	.sidebar-mini.sidebar-collapse .nav-sidebar .nav-link p {
	  width: 0;
	}
	.sidebar-mini.sidebar-collapse .sidebar .user-panel > .info,
	.sidebar-mini.sidebar-collapse .nav-sidebar .nav-link p,
	.sidebar-mini.sidebar-collapse .brand-text {
	  margin-left: -10px;
	  opacity: 0;
	  visibility: hidden;
	}
	.sidebar-mini.sidebar-collapse .logo-xl {
	  opacity: 0;
	  visibility: hidden;
	}
	.sidebar-mini.sidebar-collapse .logo-xs {
	  display: inline-block;
	  opacity: 1;
	  visibility: visible;
	}
	.sidebar-mini.sidebar-collapse .main-sidebar {
	  overflow-x: hidden;
	}
	.sidebar-mini.sidebar-collapse .main-sidebar, .sidebar-mini.sidebar-collapse .main-sidebar::before {
	  margin-left: 0;
	  width: 4.6rem;
	}
	.sidebar-mini.sidebar-collapse .main-sidebar .user-panel .image {
	  float: none;
	}
	.sidebar-mini.sidebar-collapse .main-sidebar:hover, .sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused {
	  width: 250px;
	}
	
	.sidebar-mini.sidebar-collapse .main-sidebar:hover .nav-sidebar.nav-child-indent .nav-treeview, .sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused .nav-sidebar.nav-child-indent .nav-treeview {
	  padding-left: 1rem;
	}*
	.sidebar-mini.sidebar-collapse .main-sidebar:hover .brand-link, .sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused .brand-link {
	  width: 250px;
	}
	.sidebar-mini.sidebar-collapse .main-sidebar:hover .user-panel, .sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused .user-panel {
	  text-align: left;
	}
	.sidebar-mini.sidebar-collapse .main-sidebar:hover .user-panel .image, .sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused .user-panel .image {
	  float: left;
	}
	.sidebar-mini.sidebar-collapse .main-sidebar:hover .user-panel > .info,
	.sidebar-mini.sidebar-collapse .main-sidebar:hover .nav-sidebar .nav-link p,
	.sidebar-mini.sidebar-collapse .main-sidebar:hover .brand-text,
	.sidebar-mini.sidebar-collapse .main-sidebar:hover .logo-xl, .sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused .user-panel > .info,
	.sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused .nav-sidebar .nav-link p,
	.sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused .brand-text,
	.sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused .logo-xl {
	  display: inline-block;
	  margin-left: 0;
	  opacity: 1;
	  visibility: visible;
	}

	.sidebar-mini.sidebar-collapse .main-sidebar:hover .logo-xs, .sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused .logo-xs {
	  opacity: 0;
	  visibility: hidden;
	}
	.sidebar-mini.sidebar-collapse .main-sidebar:hover .brand-image, .sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused .brand-image {
	  margin-right: .5rem;
	}
	.sidebar-mini.sidebar-collapse .main-sidebar:hover .sidebar-form,
	.sidebar-mini.sidebar-collapse .main-sidebar:hover .user-panel > .info, .sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused .sidebar-form,
	.sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused .user-panel > .info {
	  display: block !important;
	  -webkit-transform: translateZ(0);
	}
	.sidebar-mini.sidebar-collapse .main-sidebar:hover .nav-sidebar > .nav-item > .nav-link > span, .sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused .nav-sidebar > .nav-item > .nav-link > span {
	  display: inline-block !important;
	}
	.sidebar-mini.sidebar-collapse .visible-sidebar-mini {
	  display: block !important;
	}
	.sidebar-mini.sidebar-collapse.layout-fixed .main-sidebar:hover .brand-link {
	  width: 250px;
	}
	.sidebar-mini.sidebar-collapse.layout-fixed .brand-link {
	  width: 4.6rem;
	}
  }
  
  @media (min-width: 768px) {
	.sidebar-mini-md .nav-sidebar,
	.sidebar-mini-md .nav-sidebar > .nav-header,
	.sidebar-mini-md .nav-sidebar .nav-link {
	  white-space: nowrap;
	  overflow: hidden;
	}
	.sidebar-mini-md.sidebar-collapse .d-hidden-mini {
	  display: none;
	}
	.sidebar-mini-md.sidebar-collapse .content-wrapper,
	.sidebar-mini-md.sidebar-collapse .main-footer,
	.sidebar-mini-md.sidebar-collapse .main-header {
	  margin-left: 4.6rem !important;
	}
	.sidebar-mini-md.sidebar-collapse .nav-sidebar .nav-header {
	  display: none;
	}
	.sidebar-mini-md.sidebar-collapse .nav-sidebar .nav-link p {
	  width: 0;
	}
	.sidebar-mini-md.sidebar-collapse .sidebar .user-panel > .info,
	.sidebar-mini-md.sidebar-collapse .nav-sidebar .nav-link p,
	.sidebar-mini-md.sidebar-collapse .brand-text {
	  margin-left: -10px;
	  opacity: 0;
	  visibility: hidden;
	}
	.sidebar-mini-md.sidebar-collapse .logo-xl {
	  opacity: 0;
	  visibility: hidden;
	}
	.sidebar-mini-md.sidebar-collapse .logo-xs {
	  display: inline-block;
	  opacity: 1;
	  visibility: visible;
	}
	.sidebar-mini-md.sidebar-collapse .main-sidebar {
	  overflow-x: hidden;
	}
	.sidebar-mini-md.sidebar-collapse .main-sidebar, .sidebar-mini-md.sidebar-collapse .main-sidebar::before {
	  margin-left: 0;
	  width: 4.6rem;
	}
	.sidebar-mini-md.sidebar-collapse .main-sidebar .user-panel .image {
	  float: none;
	}
	.sidebar-mini-md.sidebar-collapse .main-sidebar:hover, .sidebar-mini-md.sidebar-collapse .main-sidebar.sidebar-focused {
	  width: 250px;
	}

	.sidebar-mini-md.sidebar-collapse .main-sidebar:hover .brand-link, .sidebar-mini-md.sidebar-collapse .main-sidebar.sidebar-focused .brand-link {
	  width: 250px;
	}
	.sidebar-mini-md.sidebar-collapse .main-sidebar:hover .user-panel, .sidebar-mini-md.sidebar-collapse .main-sidebar.sidebar-focused .user-panel {
	  text-align: left;
	}
	.sidebar-mini-md.sidebar-collapse .main-sidebar:hover .user-panel .image, .sidebar-mini-md.sidebar-collapse .main-sidebar.sidebar-focused .user-panel .image {
	  float: left;
	}
	.sidebar-mini-md.sidebar-collapse .main-sidebar:hover .user-panel > .info,
	.sidebar-mini-md.sidebar-collapse .main-sidebar:hover .nav-sidebar .nav-link p,
	.sidebar-mini-md.sidebar-collapse .main-sidebar:hover .brand-text,
	.sidebar-mini-md.sidebar-collapse .main-sidebar:hover .logo-xl, .sidebar-mini-md.sidebar-collapse .main-sidebar.sidebar-focused .user-panel > .info,
	.sidebar-mini-md.sidebar-collapse .main-sidebar.sidebar-focused .nav-sidebar .nav-link p,
	.sidebar-mini-md.sidebar-collapse .main-sidebar.sidebar-focused .brand-text,
	.sidebar-mini-md.sidebar-collapse .main-sidebar.sidebar-focused .logo-xl {
	  display: inline-block;
	  margin-left: 0;
	  opacity: 1;
	  visibility: visible;
	}

	.sidebar-mini-md.sidebar-collapse .main-sidebar:hover .logo-xs, .sidebar-mini-md.sidebar-collapse .main-sidebar.sidebar-focused .logo-xs {
	  opacity: 0;
	  visibility: hidden;
	}
	.sidebar-mini-md.sidebar-collapse .main-sidebar:hover .brand-image, .sidebar-mini-md.sidebar-collapse .main-sidebar.sidebar-focused .brand-image {
	  margin-right: .5rem;
	}
	.sidebar-mini-md.sidebar-collapse .main-sidebar:hover .sidebar-form,
	.sidebar-mini-md.sidebar-collapse .main-sidebar:hover .user-panel > .info, .sidebar-mini-md.sidebar-collapse .main-sidebar.sidebar-focused .sidebar-form,
	.sidebar-mini-md.sidebar-collapse .main-sidebar.sidebar-focused .user-panel > .info {
	  display: block !important;
	  -webkit-transform: translateZ(0);
	}
	.sidebar-mini-md.sidebar-collapse .main-sidebar:hover .nav-sidebar > .nav-item > .nav-link > span, .sidebar-mini-md.sidebar-collapse .main-sidebar.sidebar-focused .nav-sidebar > .nav-item > .nav-link > span {
	  display: inline-block !important;
	}
	.sidebar-mini-md.sidebar-collapse .visible-sidebar-mini {
	  display: block !important;
	}
	.sidebar-mini-md.sidebar-collapse.layout-fixed .main-sidebar:hover .brand-link {
	  width: 250px;
	}
	.sidebar-mini-md.sidebar-collapse.layout-fixed .brand-link {
	  width: 4.6rem;
	}
  }
  
  .layout-navbar-fixed.layout-fixed .wrapper .sidebar {
	margin-top: calc(3.5rem + 1px);
  }
  
   .layout-navbar-not-fixed.layout-fixed .wrapper .sidebar {
	margin-top: 0;
  }
  
  .layout-navbar-fixed.layout-fixed .wrapper .sidebar {
	margin-top: calc(3.5rem + 1px);
  }  

.layout-navbar-not-fixed.layout-fixed .wrapper .sidebar {
	margin-top: 0;
  }

  @media (min-width: 576px) {

	.layout-sm-navbar-fixed.layout-fixed .wrapper .sidebar {
	  margin-top: calc(3.5rem + 1px);
	}	

	.layout-sm-navbar-not-fixed.layout-fixed .wrapper .sidebar {
	  margin-top: 0;
	}
  }

  

  @media (min-width: 1200px) {
	
	.layout-xl-navbar-fixed.layout-fixed .wrapper .sidebar {
	  margin-top: calc(3.5rem + 1px);
	}	

	.layout-xl-navbar-not-fixed.layout-fixed .wrapper .sidebar {
	  margin-top: 0;
	}
  }

  :not(.layout-fixed) .main-sidebar {
	height: inherit;
	min-height: 100%;
	position: absolute;
	top: 0;
  }
  
  .layout-fixed .brand-link {
	width: 250px;
  }
  
  .layout-fixed .main-sidebar {
	bottom: 0;
	float: none;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
  }
  
  
  
  
  .layout-fixed .control-sidebar .control-sidebar-content {
	height: calc(100vh - calc(3.5rem + 1px));
  }

  

  .layout-md-navbar-fixed .wrapper .sidebar-dark-primary .brand-link:not([class*="navbar"]) {
	background-color: #343a40;
  }

 

  .sidebar .nav-link p,
  .main-sidebar .brand-text,
  .main-sidebar .logo-xs,
  .main-sidebar .logo-xl,
  .sidebar .user-panel .info {
	transition: margin-left 0.3s linear, opacity 0.3s ease, visibility 0.3s ease;
  }
  
  @media (prefers-reduced-motion: reduce) {
	.sidebar .nav-link p,
	.main-sidebar .brand-text,
	.main-sidebar .logo-xs,
	.main-sidebar .logo-xl,
	.sidebar .user-panel .info {
	  transition: none;
	}
  }

  @media (min-width: 768px) {
	.layout-md-navbar-fixed .wrapper.sidebar-collapse .main-sidebar:hover .brand-link {
		transition: width 0.3s ease-in-out;
		width: 250px;
	}	
  }

 

@media (min-width: 1200px) {
	.layout-xl-navbar-fixed .wrapper.sidebar-collapse .main-sidebar:hover .brand-link {
		transition: width 0.3s ease-in-out;
		width: 250px;
	  }
}



  .main-sidebar, .main-sidebar::before {
	transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
	width: 250px;
  }
  
  @media (prefers-reduced-motion: reduce) {
	.main-sidebar, .main-sidebar::before {
	  transition: none;
	}
  }
  
  .sidebar-collapse .main-sidebar, .sidebar-collapse .main-sidebar::before {
	margin-left: -250px;
  }

  
  @media (max-width: 767.98px) {
	.main-sidebar, .main-sidebar::before {
	  box-shadow: none !important;
	  margin-left: -250px;
	}
	.sidebar-open .main-sidebar, .sidebar-open .main-sidebar::before {
	  margin-left: 0;
	}
  }

  .main-sidebar {
	height: 100vh;
	overflow-y: hidden;
	z-index: 1038;
  }

  @media print {
	.no-print, .main-sidebar,
	.main-header,
	.content-header {
	  display: none !important;
	}

	.content-wrapper,
	.main-footer {
	  -webkit-transform: translate(0, 0);
	  transform: translate(0, 0);
	  margin-left: 0 !important;
	  min-height: 0 !important;
	}
	.layout-fixed .content-wrapper {
	  padding-top: 0 !important;
	}
  }




  .nav-sidebar .nav-item > .nav-link {
	margin-bottom: .2rem;
	
  }
  
  .nav-sidebar .nav-item > .nav-link .right {
	transition: -webkit-transform ease-in-out 0.3s;
	transition: transform ease-in-out 0.3s;
	transition: transform ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
  }
  
  @media (prefers-reduced-motion: reduce) {
	.nav-sidebar .nav-item > .nav-link .right {
	  transition: none;
	}
  }
  
  .nav-sidebar .nav-link > .right,
  .nav-sidebar .nav-link > p > .right {
	position: absolute;
	right: 1rem;
	top: .7rem;
  }
  
  .nav-sidebar .nav-link > .right i,
  .nav-sidebar .nav-link > .right span,
  .nav-sidebar .nav-link > p > .right i,
  .nav-sidebar .nav-link > p > .right span {
	margin-left: .5rem;
  }
  
  .nav-sidebar .nav-link > .right:nth-child(2),
  .nav-sidebar .nav-link > p > .right:nth-child(2) {
	right: 2.2rem;
  }
  
  
  .nav-sidebar > .nav-item {
	margin-bottom: 0;
  }
  
  .nav-sidebar > .nav-item .nav-icon {
	font-size: 1.2rem;
	margin-right: .2rem;
	text-align: center;
	width: 1.6rem;
  }
  
  .nav-sidebar > .nav-item .nav-icon.fa, .nav-sidebar > .nav-item .nav-icon.fas, .nav-sidebar > .nav-item .nav-icon.far, .nav-sidebar > .nav-item .nav-icon.fab, .nav-sidebar > .nav-item .nav-icon.glyphicon, .nav-sidebar > .nav-item .nav-icon.ion {
	font-size: 1.1rem;
  }
  
  .nav-sidebar > .nav-item .float-right {
	margin-top: 3px;
  }

  .nav-sidebar .nav-header {
	font-size: .9rem;
	padding: 0.5rem;
  }
  
  .nav-sidebar .nav-header:not(:first-of-type) {
	padding: 1.7rem 1rem .5rem;
  }
  
  .nav-sidebar .nav-link p {
	display: inline-block;
	margin: 0;
  }

  .sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active {
	background-color: #007bff;
	color: #ffffff;
  }
  
  .nav-sidebar {
	position: relative;
  }
  
  .nav-sidebar:hover {
	overflow: visible;
  }
  
  .sidebar-form,
  .nav-sidebar > .nav-header {
	overflow: hidden;
	text-overflow: clip;
  }
  
  .nav-sidebar .nav-item > .nav-link {
	position: relative;
  }
  
  .nav-sidebar .nav-item > .nav-link > .float-right {
	margin-top: -7px;
	position: absolute;
	right: 10px;
	top: 50%;
  }

  
  [class*='sidebar-dark-'] .nav-sidebar > .nav-item:hover > .nav-link,
  [class*='sidebar-dark-'] .nav-sidebar > .nav-item > .nav-link:focus {
	background-color: rgba(255, 255, 255, 0.1);
	color: #ffffff;
  }
  

  @media (min-width: 768px) {

	.layout-md-footer-fixed .wrapper .control-sidebar {
		bottom: 0;
	  }

	.layout-md-navbar-fixed .wrapper .content-wrapper {
		margin-top: calc(3.5rem + 1px);
	  }
	  
	  .layout-md-navbar-not-fixed .wrapper .sidebar,
	.layout-md-navbar-not-fixed .wrapper .content-wrapper {
	  margin-top: 0;
	}

	.layout-md-footer-fixed .wrapper .content-wrapper {
		margin-bottom: calc(3.5rem + 1px);
	  }

	  .layout-md-navbar-fixed .wrapper .control-sidebar {
		top: 0;
	  }

	  .layout-md-navbar-fixed .wrapper.sidebar-collapse .brand-link {
		height: calc(3.5rem + 1px);
		transition: width 0.3s ease-in-out;
		width: 4.6rem;
	  }


	  
  }

  @media (min-width: 992px) {


	  .layout-lg-footer-fixed .wrapper .control-sidebar {
		bottom: 0;
	  }

	.layout-lg-footer-fixed .wrapper .content-wrapper {
		margin-bottom: calc(3.5rem + 1px);
	  }
	  
  }

  @media (min-width: 1200px) {
	.layout-xl-navbar-fixed .wrapper .content-wrapper {
		margin-top: calc(3.5rem + 1px);
	  }

	  .layout-xl-footer-fixed .wrapper .control-sidebar {
		bottom: 0;
	  }
	 

	  .layout-xl-navbar-not-fixed .wrapper .sidebar,
	.layout-xl-navbar-not-fixed .wrapper .content-wrapper {
	  margin-top: 0;
	}
	.layout-xl-footer-fixed .wrapper .content-wrapper {
		margin-bottom: calc(3.5rem + 1px);
	  }

	  .layout-xl-navbar-fixed .wrapper .control-sidebar {
		top: 0;
	  }

	  .layout-xl-navbar-fixed .wrapper.sidebar-collapse .brand-link {
		height: calc(3.5rem + 1px);
		transition: width 0.3s ease-in-out;
		width: 4.6rem;
	  }

	  .layout-xl-navbar-fixed .wrapper .sidebar-dark-primary .brand-link:not([class*="navbar"]) {
		background-color: #343a40;
	  }
	  
  }

  .layout-footer-not-fixed .wrapper .content-wrapper {
	margin-bottom: 0;
  }

  @media (min-width: 576px) {
	.layout-sm-footer-fixed .wrapper .content-wrapper {
		margin-bottom: calc(3.5rem + 1px);
	  }
  }
  
  [class*='sidebar-dark'] .brand-link {
	border-bottom: 1px solid #4b545c;
	color: rgba(255, 255, 255, 0.8);
  }
  
  
  .content-wrapper {
	background: #f4f6f9;
  }
  
  .content-wrapper > .content {
	padding: 0 0.5rem;
  }

  .sidebar {
	height: calc(100% - 4rem);
	overflow-y: auto;
	padding-bottom: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0;
  }

  [class*='sidebar-dark'] .user-panel {
	border-bottom: 1px solid #4f5962;
  }
  
 
  
  [class*='sidebar-dark-'] {
	background-color: #343a40;
  }
  
  [class*='sidebar-dark-'] .user-panel a:hover {
	color: #ffffff;
  }
  
  
    
  [class*='sidebar-dark-'] .nav-header {
	background: inherit;
	color: #d0d4db;
  }
  
  [class*='sidebar-dark-'] .sidebar a {
	color: #C2C7D0;
  }
  
  [class*='sidebar-dark-'] .sidebar a:hover, [class*='sidebar-dark-'] .sidebar a:focus {
	text-decoration: none;
  }
  
 
  
  [class*='sidebar-dark'] .btn-sidebar:hover {
	background: #454d55;
  }
  
  [class*='sidebar-dark'] .btn-sidebar:focus {
	background: #4b545c;
  }
  
  
  
  .user-panel {
	position: relative;
  }
  
  
  
  .user-panel,
  .user-panel .info {
	overflow: hidden;
	white-space: nowrap;
  }
  
  .user-panel .image {
	display: inline-block;
	padding-left: 0.8rem;
  }
  
  .user-panel img {
	height: auto;
	width: 2.1rem;
  }
  
  .user-panel .info {
	display: inline-block;
	padding: 5px 5px 5px 10px;
  }

  .layout-footer-not-fixed .wrapper .main-footer {
	position: static;
  }
  
  
  

  
  .layout-footer-not-fixed .wrapper .main-footer {
	position: static;
  }
  
  @media (min-width: 576px) {
	
	.layout-sm-footer-fixed .wrapper .main-footer {
	  bottom: 0;
	  left: 0;
	  position: fixed;
	  right: 0;
	  z-index: 1032;
	}
	
	.layout-sm-footer-not-fixed .wrapper .main-footer {
	  position: static;
	}
  }
  
  @media (min-width: 768px) {
	
	.layout-md-footer-fixed .wrapper .main-footer {
	  bottom: 0;
	  left: 0;
	  position: fixed;
	  right: 0;
	  z-index: 1032;
	}
	
	.layout-md-footer-not-fixed .wrapper .main-footer {
	  position: static;
	}
  }
  
  @media (min-width: 992px) {
	
	.layout-lg-footer-fixed .wrapper .main-footer {
	  bottom: 0;
	  left: 0;
	  position: fixed;
	  right: 0;
	  z-index: 1032;
	}
	
	.layout-lg-footer-not-fixed .wrapper .main-footer {
	  position: static;
	}
  }
  
  @media (min-width: 1200px) {
	
	.layout-xl-footer-fixed .wrapper .main-footer {
	  bottom: 0;
	  left: 0;
	  position: fixed;
	  right: 0;
	  z-index: 1032;
	}
	
	.layout-xl-footer-not-fixed .wrapper .main-footer {
	  position: static;
	}
  }

  .main-footer {
	background: #ffffff;
	border-top: 1px solid #dee2e6;
	color: #869099;
	padding: 1rem;
  }
  
   @media (min-width: 768px) {

	
	.layout-md-navbar-fixed .wrapper .brand-link {
	  overflow: hidden;
	  position: fixed;
	  top: 0;
	  transition: width 0.3s ease-in-out;
	  width: 250px;
	  z-index: 1035;
	}
		
	.layout-md-navbar-fixed .wrapper .main-header {
	  left: 0;
	  position: fixed;
	  right: 0;
	  top: 0;
	  z-index: 1037;
	}
	
	.layout-md-navbar-not-fixed .wrapper .brand-link {
	  position: static;
	}
	
	.layout-md-navbar-not-fixed .wrapper .main-header {
	  position: static;
	}
	
  }
  
  @media (min-width: 992px) {
		
	.layout-lg-navbar-fixed .wrapper .brand-link {
	  overflow: hidden;
	  position: fixed;
	  top: 0;
	  transition: width 0.3s ease-in-out;
	  width: 250px;
	  z-index: 1035;
	}
		
	.layout-lg-navbar-fixed .wrapper .main-header {
	  left: 0;
	  position: fixed;
	  right: 0;
	  top: 0;
	  z-index: 1037;
	}

  }
  
  @media (min-width: 1200px) {
		
	.layout-xl-navbar-fixed .wrapper .brand-link {
	  overflow: hidden;
	  position: fixed;
	  top: 0;
	  transition: width 0.3s ease-in-out;
	  width: 250px;
	  z-index: 1035;
	}
		
	.layout-xl-navbar-fixed .wrapper .main-header {
	  left: 0;
	  position: fixed;
	  right: 0;
	  top: 0;
	  z-index: 1037;
	}
	
	/*
	.layout-xl-navbar-not-fixed .wrapper .brand-link {
	  position: static;
	}
	
	.layout-xl-navbar-not-fixed .wrapper .main-header {
	  position: static;
	}*/

  }  

  .main-header {
	border-bottom: 1px solid #dee2e6;
	z-index: 1034;
  }
  
  .main-header .nav-link {
	height: 2.5rem;
	position: relative;
  }

    
  .main-header .navbar-nav .nav-item {
	margin: 0;
  }
  
   .navbar-white {
	background-color: #ffffff;
  }

  .navbar-light {
	background-color: #f8f9fa;
  }

 
  
  .nav-pills .nav-item.dropdown.show .nav-link:hover {
	color: #ffffff;
  }
  
     
  .nav-pills .nav-link {
	color: #6c757d;
  }
  
  .nav-pills .nav-link:not(.active):hover {
	color: #007bff;
  }

   
  
  .brand-link .brand-image-xs {
	float: left;
	line-height: .8;
	margin-top: -.1rem;
	max-height: 33px;
	width: auto;
  }
  
  .brand-link .brand-image-xl {
	line-height: .8;
	max-height: 40px;
	width: auto;
	
  }
  
  
  .logo-xs.brand-image-xs,
  .logo-xl.brand-image-xs {
	left: 18px;
	top: 12px;
  }
  
  .logo-xs.brand-image-xl,
  .logo-xl.brand-image-xl {
	left: 12px;
	top: 6px;
  }

  .logo-xs.brand-image-xl {
	left: 16px;
	top: 8px;
  }

  /*
  .content-header {
	padding: 15px 0.5rem;
	
  }
  
  /*
  .content-header h1 {
	font-size: 1.8rem;
	margin: 0;
	
  }
  
  /*
  .content-header .breadcrumb {
	background: transparent;
	line-height: 1.8rem;
	margin-bottom: 0;
	padding: 0;
	
  }*/
 
  

  .card-header::after,
  .card-body::after,
  .card-footer::after {
	display: block;
	clear: both;
	
  }
  
  .collapsed-card .card-header {
	border-bottom: 0;
	
  }
  
  /*
  .card-header > .card-tools {
	float: right;
	margin-right: -0.625rem;
	
  }
  
  .card-header > .card-tools .input-group,
  .card-header > .card-tools .nav,
  .card-header > .card-tools .pagination {
	margin-bottom: -0.3rem;
	margin-top: -0.3rem;
	
  }
  
  .card-header > .card-tools [data-toggle='tooltip'] {
	position: relative;
	
  }*/

  
  
  .card-body > .table {
	margin-bottom: 0;
	
	
  }
  
  .card-body > .table > thead > tr > th,
  .card-body > .table > thead > tr > td {
	border-top-width: 0;	
  }





  




  
/* SI*/

  .img-circle {
	border-radius: 50%;
}
  
.elevation-2 {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}

.elevation-3 {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
}

.elevation-4 {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}

.brand-link {
	display: block;
	font-size: 1.25rem;
	line-height: 1.5;
	padding: 0.8125rem 0.5rem;
	transition: width 0.3s ease-in-out;
	white-space: nowrap;
  }
  
  .brand-link:hover {
	color: #ffffff;
	text-decoration: none;
  }
  
.brand-link .brand-image {
	float: left;
	line-height: .8;
	margin-left: .8rem;
	margin-right: .5rem;
	margin-top: -3px;
	max-height: 33px;
	width: auto;
}

.card {
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
	margin-bottom: 1rem;
	
  }

.card-title {
	float: left;
	font-size: 1.1rem;
	font-weight: 400;
	margin: 0;	
}

.card-header {
	background-color: transparent;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	padding: 0.75rem 1.25rem;
	position: relative;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;	
}